@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: var(--dark);
    font-family: var(--poppins);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }


  .container{
    width:100%;
    max-width: 150rem;
    margin:0 auto;    /*Para magitna ang lahat*/
    padding: .5rem;
  }

  .header{
    /* p3rem0 */
    padding: 1rem 0;
    /* bgc */
    background-color: var(--dark);
  }
  
  .header_wrapper{
    /* df */
    display: flex;
    /* jc */
    justify-content: space-between;
  }
  .header_left {
    display: flex;
    align-items: center;
  }
  .header_left img{
    display: block;
    width: 20rem;
    background-color: var(--green);
    border-radius: 100%;
    width: 10rem;
  }
  .header_left h2{
    display: flex;
    color:var(--light);
    font-size: 50px;
    font-weight: 800px;
    align-content: center;
    margin-left: 35px;
  }
  
  .header_left ul{
    display: flex;
    /* ai */
    align-items: center;
    gap: 3rem;
  }
  .header_left ul li a{
    color:var(--dark);
  }
  .header_left ul li a:hover{
    color:var(--green);
  }
  .header_right{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 15px;
  }
  
 .header_right ul{
    display: flex;
    align-items: center;
    gap: 7rem;
  }
  .header_right ul li a{
    color:var(--light);
  }
  .header_right ul li a:hover{
    color:var(--green);
  } 

.header_nav li{
  display: inline-block;
}
.header_nav li::after{
  content: " ";
  width: 0px;
  height: 2px;
  background-color: var(--light);
  transition: 400ms;
  display: block;
}
.header_nav li:hover::after{
  width: 100%;
}

/*BANNER*/

.banner{
  background-image: url(/img/GBG.jpg);
  padding-top: 2rem;
  background-size:cover;
  height:89vh;
  right: 100rem;
  padding-bottom:-10rem ;
  
}

.banner_wrapper{
 display: flex;
}
.banner_left{
  padding-left: 3rem;
  padding-top: 13rem;
}
.banner_left small{
  color: var(--light);
  border: 10px;
  border-color: var(--light);
}
.banner_left h1{
  font-size: 10rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 2rem;
  color: var(--light);
}
.banner_left span{
  color:var(--green);
}
.banner_left h2{
  color: var(--light);
  font-size: 2rem;
}


.banner_left ul li a{
  transition:.3s ease;
  display:flex;
  justify-content:center;
  width:20rem;
  border-radius:5rem;
  padding:2rem;
  color:white;
  background:var(--green);
  background-color: linear-gradient(to right, green , white);
  transition: 400ms;
  margin-top: 3rem;
  border:5px solid var(--light);
  font-size: 2rem;
  
}
.banner_left ul li a:hover{
  display:flex;
  transition:.3s ease;
  background:var(--light);
  background-color: linear-gradient(to right, white , white);
  color: var(--green);
  border:5px solid var(--green);

}


.banner_right img{
  width:100rem;
  height: 70rem;
  color: var(--light);

}


   /* REPEATABLE PATTERNS */
   :root{
    --green: #7d9a68;
    --light: #ffffff;
    --dark: #2b2b2b;
    --gray: #D3D3D3;
    --poppins: "Poppins", "Sans-serif";
  }
  .btn{
    background: transparent;
    border: transparent;
    border-radius: 3rem;
    padding: 1rem 2rem;
    color: transparent;
  }
  .btn:hover{
    scale:1.1;
    transition:.5s ease;
  }
  .btnsq{
    background: transparent;
    border: transparent;
    border-radius: 1rem;
    padding: 1rem 2rem; 
    color: transparent;
  }
  .btn.bg--border-dark{
    background-color:var(--light);
    border: 1px solid var(--dark);
    color: var(--dark);
    
  }
  .btn.bg--border-light{
    background-color:transparent;
    border: 1px solid var(--light);
    color: var(--light);
    
  }
  .btn.bg--border-light :hover{
    background-color:var(--light);
    border: 1px solid var(--light);
    color: var(--green);
    
  }
  .btnsq.bg--green{
    background-color:var(--green);
    border: 1px solid var(--green);
    color: var(--light);
    
  }
